/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* grid layout */ 
.container {  display: grid;
  grid-template-columns: 0.4fr 3.5fr 0.9fr 0.5fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.footer { grid-area: 3 / 1 / 4 / 5; }

.home {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "icon . ."
    ". . ."
    ". . .";
  grid-area: 1 / 1 / 2 / 2;
}

.homeIcon { grid-area: icon; }

.exit {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . exitIcon"
    ". . ."
    ". . .";
  grid-area: 1 / 4 / 2 / 5;
}

.exitIcon { grid-area: exitIcon; }

.header { grid-area: 1 / 2 / 2 / 4; }

.nav { grid-area: 1 / 2 / 2 / 4; }

.mainArea {  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". mainAreaContent mainAreaContent"
    "mainAreaContent mainAreaContent mainAreaContent"
    "mainAreaContent mainAreaContent mainAreaContent";
  grid-area: 2 / 1 / 3 / 5;
}

.mainAreaContent { grid-area: mainAreaContent;
}

/*general layout css */ 
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  display: flex;
  justify-content: space-evenly;
}

button {
  vertical-align: top;
  height: 50px;
  width: 80px;
  background-color: bisque;
}

button, .homeIcon {
  cursor: pointer;
}

/* virar icon */
#botao-pesquisa {
  transform: scaleX(-1);
}

#input-pesquisa {
  height: 50px;
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color:#fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}

/*sweetalert popup*/
div:where(.swal2-container).swal2-center>.swal2-popup {
  padding: 10px;
}

#swal2-html-container {
  max-height: 200px;
}

/*specific css */
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#pictureEx {
  border-radius: 10%;
}

#infoFotos {
  text-align: right;
  position: relative;
  width: 200px;
  left: 13px;
  height: 100px;
}

#infoFoto {
  text-align: left;
  position: relative;
  top: -99px;
  right: -218px;
  width: 200px;
  height: 100px;
}

#replaceOne {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  overflow-y: auto;
  max-height: 555px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer a {
  margin-right: 50px;
}